/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Variables */
:root {
    --highlight: rgb(172, 129, 253);
    --dark-highlight: rgb(141, 94, 228);
    --font-color: rgb(35, 35, 35);
    --bg-color: rgb(249, 243, 238);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.patterns {
    width: 25%;
    position: absolute;
}
#pattern1 {
    right: 0;
}
#pattern2 {
    bottom: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 5px 10px 5px rgba(35, 35, 35, 0.1);
    background: var(--bg-color);
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--font-color);
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.field input {
    outline: none;
    padding: 0 35px;
    border: none;
    background-color: var(--bg-color);
    border-bottom: 1.5px solid var(--font-color);
}

.field input:focus {
    border-bottom: 2px solid var(--highlight);
}

.field i {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--font-color);
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: var(--highlight);
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: var(--dark-highlight);
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color);
}

.form a {
    color: var(--highlight);
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}