@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


/* Variables */
:root {
    --highlight: rgb(172, 129, 253);
    --dark-highlight: rgb(141, 94, 228);
    --font-color: rgb(35, 35, 35);
    --bg-color: rgb(249, 243, 238);
}


/* Common Selectors */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
}

main {
    padding: 0 7.5%;
    padding-top: 125px;
}

section {
    padding-bottom: 125px;
}

section h1 {
    font-size: 2.2rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8;
}

.filled-btn {
    background-color: var(--font-color);
    padding: 12.5px 35px;
    transition: 0.3s all;
}
.filled-btn:hover {
    background-color: rgb(255, 255, 255);
    color: var(--font-color);
}

.highlight {
    color: var(--highlight);
}

.bg-strip {
    background-color: var(--highlight);
    width: 31%;
    height: 100vh;
    position: absolute;
    right: 0px;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 8%;
}

.nav-menu {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.nav-links a {
    margin-right: 75px;
    transition: all 0.3s;
}
.nav-links a:hover {
    color: black;
}

.buttons a {
    color: white;
    margin-left: 50px;
}

.logo {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s;
    background-color: white;
    border-radius: 50px;
}

#content {
    padding: 4% 8%;
    display: flex;
    justify-content: space-between;
}

.text {
    width: 35%;
}

.text h1 {
    font-size: 4rem;
    font-weight: 800;
}

.text p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.browse-books {
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.browse-books:hover {
    background-color: var(--highlight);
    color: rgb(255, 255, 255);
}

.browse-books i {
    color: white;
    margin-right: 5px;
    --fa-bounce-jump-scale-y: 1;
}

#content img {
    z-index: 1;
    width: 32.5%;
    position: relative;
    right: 8%;
    bottom: 30px;
    box-shadow: 0px 10px 30px var(--font-color);
}

/* About Section Starts */
.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.feature-icon {
    color: var(--highlight);
    font-size: 2.5rem;
    margin-bottom: 10px;
    transition: all 0.3s;
}
.feature-icon:hover {
    color: var(--dark-highlight);
}

.about-content {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.about-content div {
    width: 40%;
}

.handdrawn-arrow {
    width: 100px;
    position: relative;
    left: 30%;
    margin-top: 20px;
}

.about-content p {
    text-align: left;
}

/* About Section Ends */

/* Books Section Starts */
.slider {
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
}

.slider h1 {
    margin-bottom: 60px;
}

.images {
    width: 70%;
}

/* Books Section Ends */

/* Social Section Starts */

footer {
    padding: 100px 0;
    background-color: var(--font-color);
}

#social {
    text-align: center;
    padding: 0;
}

#social h1 {
    margin-bottom: 50px;
    color: white;
}

#social i {
    color: white;
}

.contact {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.15rem;
    font-weight: 500;
    transition: all 0.3s;
    color: white;
}

.contact i {
    margin-right: 10px;
}

.social-media {
    margin-top: 50px;
}

.social-media a {
    display: inline;
    font-size: 1.2rem;
    margin: 70px 35px;
    transition: all 0.3s;
}

/* Social Section Ends */

/* Media Queries */

@media screen and (max-width: 1150px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: var(--highlight);
    }

    .nav-menu div {
        display: flex;
        flex-direction: column;
    }

    .nav-menu a {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    nav {
        background-color: var(--highlight);
        align-items: center;
    }

    nav a {
        color: white;
    }

    .buttons a {
        margin: 20px;
    }

    .bg-strip {
        width: 0;
        height: 0;
        top: 0;
        left: 0;
    }

    header {
        height: auto;
    }
    
    #content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 50px;
    }

    #content img {
        position: relative;
        right: 0;
        bottom: 0;
        top: 50px;
        width: 75%;
    }

    .text {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {

    .handdrawn-arrow {
        left: 0;
        margin-bottom: 50px;
    }
    .about-content {
        text-align: center;
        flex-direction: column;
    }
    .about-content div {
        width: 100%;
    }
    .about-content p {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    main{
        padding-top: 5%;
    }

    .images {
        width: 80%;
    }
    
    .features {
        display: block;
        padding: 0;
    }

    .feature {
        margin: 20% 0;
    }

    #content h1 {
        font-size: 3.1rem;
    }
}